/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 94%;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

button {
    cursor: pointer;
}

/* Layout styles */
.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: calc(100% - 60px); /* Adjust height based on header/footer size */
}

.recipe-info {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 0.5;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow: scroll;
}


.review-form-section{
    padding: 10px;
    border-top: 1px solid #ddd; /* Separator between sections */
    display: none;
    margin-top: auto;

}

.reviews-section{
    padding: 10px;
    border-top: 1px solid #ddd; /* Separator between sections */
    margin-top: auto;

}


.review-item {
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px; /* Spacing between review items */
}

.review-text {
    font-style: italic;
    color: #555555;
}

.review-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px; /* Space between review text and details */
}

.review-author {
    font-weight: bold;
    color: #333333;
}

.review-rating {
    background-color: #ffd700; /* Gold color for the star rating */
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 4px;
}

.reviews-list {
    max-height: 300px; /* Set a max-height and add scroll if content overflows */
    overflow-y: auto;
    margin-bottom: 10px;
}

#postReviewForm {
    display: grid;
    grid-gap: 10px;
}

#reviewText {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    min-height: 100px;
    resize: vertical;
}

#submitReviewButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* Consistent button color with your theme */
    color: white;
    cursor: pointer;
}

#submitReviewButton:hover {
    background-color: #218838; /* Darken button on hover for a nice effect */
}

.recipes{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 0.15;
    margin: 0 10px;
    display: flex;
    flex-direction: column;


}
/* Within .recipes, we create two sections for search and upload */
.recipe-search, .recipe-upload {
    flex: 1;  /* Each section takes half of the .recipes height */
    overflow: auto; /* Add scroll for overflow content */
}

.recipe-search {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Spacing between search and list */
}

/* Recipe Search Layout */
.recipe-search cookTime-search .options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #343a40; /* Your dark theme color */
    padding: 10px;
    border-radius: 4px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-input {
    flex: 1 0 50%; /* Grow and shrink with a basis of 50% */
    margin-right: 10px; /* Spacing between elements */
}

.min-calories-input {
    flex: 0 1 15%; /* Grow and shrink with a basis of 25% */
    max-width: 80px;

}

.max-calories-input {
    flex: 0 1 15%; /* Grow and shrink with a basis of 25% */
    max-width: 80px;
}

/* Bottom row styles */
.bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}

.recipe-dropdown {
    flex: 1 1 70%; /* Adjusted for dropdown to take more space */
    margin-right: 10px; /* Spacing between elements */
}

.filter-button {
    flex: 0 0 auto; /* Do not grow or shrink */
    white-space: nowrap; /* Keep text in one line */
    padding: 8px 16px; /* Padding inside the button */
    background-color: #28a745; /* Your theme button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
}

.filter-button:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Input and button styling */
input[type='text'],
input[type='number'],
select,
button {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
}

input[type='checkbox'] {
    margin-right: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-input,
    .min-calories-input,
    .max-calories-input,
    .recipe-dropdown,
    .vegan-label,
    .filter-button {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px; /* Space between elements on wrap */
    }

    .filter-button {
        width: 100%; /* Full width on small screens */
    }
}


.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .top-row, .bottom-row {
        flex-direction: column;
    }

    .search-input,
    .min-calories-input,
    .max-calories-input,
    .recipe-dropdown,
    .vegan-label,
    .filter-button {
        flex: 1 1 100%;
    }
}


.recipe-upload {
    background-color: #fff; /* changed to white to match your theme */
    border-radius: 8px; /* Adjusted to match your other elements */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adding shadow for consistency */
    color: #333; /* Dark grey text for readability */
    font-family: 'Arial', sans-serif;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #fff; /* Using the header color from your theme */
}

#uploadRecipeForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: end;
}

#uploadRecipeForm input[type="text"],
#uploadRecipeForm input[type="number"],
#uploadRecipeForm textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da; /* Border color like other inputs */
    color: #495057; /* Input text color */
    background-color: #fff; /* Input background */
}

#uploadRecipeForm textarea {
    grid-column: 1 / span 2;
    min-height: 100px;
    resize: vertical;
}

#uploadButton {
    grid-column: 1 / span 2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* Consistent button color with your theme */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#uploadButton:hover {
    background-color: #218838; /* Darken button on hover for a nice effect */
}

@media (max-width: 768px) {
    #uploadRecipeForm {
        grid-template-columns: 1fr;
    }
    #uploadButton {
        padding: 10px 20px;
    }
}


/* Ensure the recipe list does not overflow the .recipe-search section */
.recipe-list {
    overflow: auto; /* Add scroll to the recipe list if content overflows */
}

/* Ensure button doesn't stretch beyond form width */
.button {
    width: auto; /* Auto-width based on content, or set to a fixed width */
}

#social{
    min-width: 200px;
}

.friends{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 400px;

}

h2 {
    background-color: #343a40;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.options {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #28a745;
}

button:hover {
    background-color: #218838;
}

/* Tab styles */
.tabs {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #343a40;
}

.tab-link {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.tab-link.current {
    background-color: #007bff;
}

.tab-content {
    display: none;
    padding: 10px;
    flex-grow: 1;
}

.tab-content.current {
    display: block;
}

.friend-list, .recipe-list, .recipe-info-wall {
    flex-grow: 1;
    overflow-y: auto;
}


/* Base styles for the wall section */
.wall {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-grow: 0.6;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

/* Header within the wall section */
.wall h2 {
    margin-bottom: 20px; /* Spacing under the header */
}

/* Wall content styles */
.wall-content {
    overflow-y: auto; /* Enable scroll if content overflows */
    height: calc(100% - 40px); /* Adjust height accounting for header and padding */
    border-top: 2px solid #eee; /* Separator for the top content */
    padding-top: 20px; /* Spacing at the top of the content */
}




/* Media Query for smaller screens */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .friends, .recipes, .recipe-info {
        margin: 10px 0;
        width: 100%;
        height: auto;
    }

    .options input[type="text"] {
        width: calc(100% - 90px); /* Input field less button width */
    }
}


input[name="tabs"] {
    display: none;
}
label {
    margin-right: 10px;
    cursor: pointer;
}
#all-users, #friends {
    display: none;
}
input#all-users-tab:checked ~ #all-users,
input#friends-tab:checked ~ #friends {
    display: block;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* RADIO MAGIC */
input[type="radio"]:checked + label {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    z-index: 2;
}

/* Toggle Options */
label {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 15px;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: #333;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
    z-index: 1;
    cursor: pointer;
}

/* The container */
label:hover {
    background-color: #ddd;
}

/* Add some padding and set a background color when content is revealed  */
#all-users, #friends {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.options select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: white;
    cursor: pointer;
}



/* Global layout adjustments for scrolling */
.content, .recipe-info, .reviews-section, .recipe-search, .recipe-upload, .friends, .wall-content {
    overflow: scroll; /* Enables scrolling if content overflows the boundary */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .recipe-info, .reviews-section, .recipe-search, .recipe-upload, .friends, .wall {
        margin: 10px 0;
        width: 100%;
        max-height: 300px; /* Set a reasonable max height for viewing */
        overflow: auto; /* Ensures scrolling within each section */
    }

    #cookTime-search, .max-calories-input, .min-calories-input, .cook-time-input {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0; /* Remove right margin on small screens */
    }
}

/* Styling for specific input fields */
#cookTime-search, .max-calories-input, .min-calories-input, .cook-time-input,  .search-input{
    padding: 8px;
    margin: 5px 0; /* Vertical spacing */
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: calc(33% - 10px); /* Subtracting margin */
    display: inline-block; /* Align in a row */
    box-sizing: border-box; /* Include padding and border in the width */
}

/* Adjusting space between input fields */
#cookTime-search {
    margin-right: 5px; /* Add space between the inputs */
}

.max-calories-input {
    margin-right: 5px; /* Add space between the inputs */
}

