/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Layout containers */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjusted to align items at the start */
    gap: 50px;
    margin-top: 20px;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex: 1; /* Ensure it takes available space */
}

/* Form styling */
form {
    flex: 1; /* Ensures form takes up half of the space */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form select,
form button,
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

/* User info container */
.user-info {
    width: 100%;
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.user-info h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

/* Message box styling */
.message-box {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    display: none; /* Hidden by default */
}

.message-box.success {
    color: #ffffff;
    background-color: #4CAF50; /* Green for success */
}

.message-box.error {
    color: #ffffff;
    background-color: #f44336; /* Red for errors */
}

/* Responsive adjustments for various resolutions */
@media screen and (min-width: 1920px) {
    form input[type="password"], form input[type="text"], form input[type="email"] {
        font-size: 1.1em; /* Scaled for better readability on larger screens */
    }
}

@media screen and (max-width: 1280px) {
    form input[type="password"], form input[type="text"], form input[type="email"] {
        font-size: 0.9em; /* Adjust for better usability on smaller screens */
    }
}
